@import "../../styles/partials/variables";
@import "../../styles/partials/mixin";

.wrapper {
    padding: 20px 0;

    .essentialLinks {
        @include flexBox($j-c: space-between);

        .policyService {
            @include flexBox($c-gap: 10px);
        }

        a {
            color: #000;
            transition: all .3s;

            &:hover {
                color: $clr_primary;
            }
        }

        .social {
            @include flexBox($c-gap: 10px, $a-i: center);

            a {
                svg {
                    display: block;
                    transition: all .3s;

                    &:hover {
                        fill: $clr_primary;
                    }
                }
            }
        }
    }
}